pkgbase = wowusky
	pkgdesc = Minimalist World of Warcraft addon manager for Linux
	pkgver = 0.4.10
	pkgrel = 1
	url = https://github.com/borunsky/wowusky
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools>=77
	makedepends = python-wheel
	depends = python
	depends = tk
	source = wowusky-0.4.10.tar.gz::https://github.com/borunsky/wowusky/archive/refs/tags/v0.4.10.tar.gz
	sha256sums = a0d26b44238853362bb33e1354c9e5d0e9f1de0c1b7ee49bfab12912bbb5bd03

pkgname = wowusky
