[Desktop Entry]
Type=Application
Name=wowusky
GenericName=WoW Addon Manager
Comment=Minimalist World of Warcraft addon manager for Linux
Exec=wowusky
Icon=wowusky
Terminal=false
Categories=Game;Utility;
Keywords=wow;warcraft;addon;elvui;tukui;weakauras;
StartupNotify=true
StartupWMClass=wowusky
